.main-blog {
	grid-area: mn;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	/*margin-top: 25px;*/
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 75px;
	padding-inline: 40px;
	padding-bottom: 10px;
	background-color: rgb(235, 213, 189);
	border-top: 5px solid rgb(95, 53, 29);
	border-right: 3px solid rgb(95, 53, 29);
	border-left: 3px solid rgb(95, 53, 29);
}

.main-blog p {
	color: rgb(140, 52, 9);
}

.main-blog-header {
	font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
	color: rgb(201, 92, 59);
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

figure {
	display: inline-table;
	margin-top: 0;
}

figure img {
	display: block;
}

.perspective {
	font-family: Tahoma, sans-serif;
	color: rgb(95, 53, 29);
	padding: 0.5em;
	text-align: center;
	letter-spacing: 0.5px;
	font-size: 13px;
	display: table-caption;
	caption-side: bottom;
	font-style: italic;
	margin-top: 0;
}

.title-button {
	margin-top: 25px;
	color: rgb(95, 53, 29);
	font-family: Arial, Helvetica, sans-serif;
}

#blog-page {
	grid-area: feat;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	row-gap: 10px;
}

.blog-card {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	padding: 0px;
	gap: 15px;
}

.blog-img {
	padding: 0px;
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: 5px solid rgb(95, 53, 29);
}

.blog-feature {
	display: flex;
	flex-direction: row;
	width: fit-content;
	padding-left: 25px;
	gap: 25px;
	align-items: center;
	align-content: center;
	background-color: rgb(235, 213, 189);
}

.blog-feature span {
	font-weight: bold;
}
.blog-feature h3 {
	color: rgb(201, 92, 59);
}

button {
	margin-inline: 10px;
	background-color: rgb(226, 198, 168);
	padding: 5px 9px;
}
