@import url("./nav.css");
@import url("./aside.css");
@import url("./blog.css");
@import url("./footer.css");

body {
	margin: 0;
	background-color: rgb(201, 92, 59);
}
.blueprint {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 60px 2fr 2fr auto;
	grid-template-areas:
		"ha img img img"
		"nb nb nb nb"
		"mn mn mn aside"
		"feat feat feat feat"
		"ft ft ft ft";
}

#banner-area {
	grid-area: ha;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	justify-content: center;
	width: 150%;
}

#banner-area h1 {
	color: rgb(252, 245, 237);
	font-family: Geneva, Veranda, sans-serif;
	letter-spacing: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.ba-caption {
	color: rgb(252, 245, 237);
	font-family: "Times New Roman", Times, serif;
	font-size: 14.5px;
	font-style: italic;
	letter-spacing: 2px;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

.img-container {
	grid-area: img;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0;
}

.banner-img {
	width: 80%;
	border-left: 5px solid rgb(95, 53, 29);
	margin-right: 0;
}

.home {
	grid-area: mn;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 25px;
	padding-inline: 40px;
	background-color: rgb(235, 213, 189);
	border-top: 5px solid rgb(95, 53, 29);
	border-right: 3px solid rgb(95, 53, 29);
	border-left: 3px solid rgb(95, 53, 29);
	border-bottom: 5px solid rgb(95, 53, 29);
}

main p {
	color: rgb(140, 52, 9);
}

.home-title {
	font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
	color: rgb(201, 92, 59);
	font-size: 30px;
	padding-top: 15px;
	margin-bottom: 10px;
}

.home p {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 14px;
}

.title-button {
	background-color: rgb(226, 198, 168);
	padding: 5px 9px;
	margin-top: 55px;
}
blockquote {
	border-bottom: solid 2px rgba(57, 55, 55, 0.642);
	padding-inline: 30px;
	padding-bottom: 70px;
	margin-bottom: 25px;
}

blockquote p {
	font-family: "Lucida Sans", "Lucida Grande", Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-style: italic;
	color: black;
}
blockquote footer {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
	.blueprint {
		grid-template-areas:
			"ha"
			"img"
			"nb"
			"mn"
			"feat"
			"aside"
			"ft";
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
	.img-container {
		flex-direction: column;
		width: 100%;
	}
	.banner-img {
		width: 100%;
	}
	.ba-caption {
		font-size: 15px;
		flex-wrap: wrap;
	}
	#banner-area h1 {
		font-size: 28px;
	}
	#banner-area {
		height: 200px;
		width: 100%;
	}
}
