nav {
	grid-area: nb;
	display: flex;
	flex-direction: row;
	margin: 0;
	height: 60px;
}

.n-links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	padding-top: 5px;
	list-style: none;
}

.n-links a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	font-weight: 550;
	text-decoration: none;
	color: rgb(76, 42, 22);
}

.n-links a:hover {
	background-color: rgb(227, 197, 153);
}

@media screen and (max-width: 600px) {
	nav {
		height: 100px;
		justify-content: center;
		align-items: center;
	}
	.n-links {
		gap: 25px;
		padding-left: 10px;
		justify-content: center;
		align-items: center;
	}
	.n-links a {
		font-size: 1.15em;
	}
}

@media screen and (max-width: 425px) {
	nav {
		height: 100px;
		padding-left: 15px;
		justify-content: center;
		align-items: center;
	}
	.n-links {
		gap: 18px;
		padding-left: 20px;
		justify-content: center;
		align-items: center;
	}
	.n-links a {
		font-size: 0.9em;
	}
}
